@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wagonBold";
  src: url("./assets/fonts/Wagon-Bold.otf") format("otf");
}
@font-face {
  font-family: "wagonExtraLight";
  src: url("./assets/fonts/Wagon-ExtraLight.otf") format("otf");
}
@font-face {
  font-family: "wagonExtraLightItalic";
  src: url("./assets/fonts/Wagon-ExtraLightItalic.otf") format("otf");
}
@font-face {
  font-family: "teko";
  src: url("./assets/fonts/Teko-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "ephis";
  src: url("./assets//fonts/Ephesis-Regular.ttf");
}
